.footer{
  background-color: black;
  padding-bottom: 30px;
  &-header{
    padding-top: 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FEFEFE;
    text-align: center;
  }
  &-text{
    margin-top: 22px;
    font-size: 16px;
    line-height: 28px;
    color: #B9B9B9;
    width: 684px;
    height: 44px;
    margin-left: 250px;
    text-align: center;
  }
  &-logos{
    margin-top: 50px;
    text-align: center;
  }
  .logo1{
    border: 2px solid #F8902E;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 5px 5px 5px 5px;
  }
  .logo2{
    border: 2px solid #39599F;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 5px 6px 5px 6px;
  }
  .logo3{
    border: 2px solid #45B0E3;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 5px 5px 5px 5px;
  }
  .logo4{
    border: 2px solid #D97AB0;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 5px 5px 5px 5px;
  }
  .logo5{
    border: 2px solid #CC212C;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 5px 5px 5px 5px;
  }
  &-info{
    font-size: 16px;
    line-height: 26px;
    color: #B9B9B9;
    margin-top: 40px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .footer{
    margin-top: 50px;
    width: 318px;
    height: 315px;
    padding-bottom: 140px;
    &-text{
      margin-left: 5px;
      font-size: 12px;
      width: 303px;
      height: 52px;
    }
    &-logos{
      margin-top: 100px;
    }
    &-info{
      width: 190px;
      height: 52px;
      font-size: 14px;
      margin-left: 60px;
    }
  }
}
@media screen and (max-width: 992px) and (min-width: 481px) {
  .footer{
    width: 768px;
    height: 332px;
    &-text{
      margin-left: 50px;
    }
  }
}

