// HEADER

.header-small{
  display: none;
  &-img{
    width: 300px;
    height: 150px;
    margin-left: 10px;
    margin-top: 40px;
  }
}
.header-medium{
  display: none;
  &-img{
    width: 668px;
    height: 361px;
    margin-left: 55px;
    margin-top: 30px;
  }
}
.header{
  &-img{
    width: 1170px;
    height: 550px;
    margin-left: 15px;
    margin-top: 118px;
  }
}

// NAVBAR

.navbar-small{
  display: none;
}
.navbar-medium{
  display: none;
}
.navbar-list{
  @include flex;
  margin-top: 40px;
  margin-left: 70px;
}
.navbar-item{
  margin-left: 25px;
  list-style-type: none;
}
.navbar-link{
  text-transform: uppercase;
  color: #4E4E4E;
  font-size: 11px;
  line-height: 22px;
  text-decoration: none;
}
.navbar-link:hover{
  color: #57A4A4;
}
.navbar-list-small{
  position: absolute;
  width: 182px;
  height: 208px;
  margin-left: 90px;
  margin-top: 30px;
  display: none;
}
.navbar-list-small.active{
  display: block;
}
.item-small{
  border: 1px solid lightgrey;
  background-color: white;
}
.item-small:hover{
  background: #F5F5F5;
  color: #57A4A4;
}
.link-small{
  margin-left: 5px;
}
.navbar-button{
  width: 44px;
  height: 37px;
  background-color: black;
  margin-left: 262px;
  margin-bottom: -20px;
}
.fa-bars{
  color: white;
  margin-top: 10px;
  margin-left: 16px;
}
.fa-times{
  position: absolute;
  left: 280px;
  margin-top: 10px;
  color: white;
}
.icon{
  display: none;
}
//.icon.active{
//  display: block;
//}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .navbar-small{
    display: block;
  }
  .navbar-medium{
    display: none;
  }
  .header-small{
    display: block;
  }
  .header-medium, .header{
    display: none;
  }
}
@media screen and (max-width: 992px) and (min-width: 481px) {
  .navbar-small{
    display: none;
  }
  .navbar-medium{
    display: block;
  }
  .header-medium{
    display: block;
  }
  .header-small, .header{
    display: none;
  }
}



