.recent{
  margin-top: 66px;
  margin-left: 30px;
  &-title{
    font-size: 16px;
    line-height: 22px;
    color: #4E4E4E;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  .block-flex{
    @include flex;
  }
  &-post-block{
    @include flex;
    margin-bottom: 35px;
    &-list{
      margin-left: 20px;
      margin-top: -20px;
      margin-right: 25px;
      &-title{
        font-size: 16px;
        color: #4E4E4E;
      }
      &-info{
        font-size: 12px;
        color: #7C7C7C;
        margin-top: -8px;
      }
      &-text{
        font-size: 14px;
        color: #5C5C5C;
        width: 380px;
        height: 40px;
      }
    }
  }
}

.recent-small{
  display: none;
  margin-left: 20px;
  margin-top: 40px;
}
.recent-post-block-small{
  margin-top: 20px;
}
.block-list-small{
  margin-left: -2px;
  margin-top: 5px;
}
.list-title-little{
  font-size: 14px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .recent-small{
    display: block;
  }
  .recent, .recent-medium{
    display: none;
  }
}
.recent-medium{
  display: none;
  margin-top: 66px;
  margin-left: 60px;
}

@media screen and (max-width: 992px) and (min-width: 481px) {
  .recent-medium{
    display: block;
  }
  .recent, .recent-small{
    display: none;
  }
}